:root {
  --green: #35736E;
  --yellow: #FFD748;
  --gray: #CACACA;
  --white: #EFF2F1;
  ;
}

.draw-paper {
  overflow-x: hidden;
}

* {
  font-family: roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

h1 {
  font-family: poppins;
}

p {
  font-family: roboto;
}

a {
  text-decoration: none;
  font-family: roboto;
  color: var(--white);
}

/* header */

/* nav */
header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--green);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.a-tag {
  text-decoration: none;
  font-family: roboto;
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
}

.a-tag:hover {
  text-decoration: underline var(--yellow);
}

.logo {
  color: var(--yellow);
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}

.logo-div {
  display: flex;
  align-items: center;
}

.a-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pic-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

/* nav */

/* hero */

.hero-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  padding: 15px;
}

.hero-h1-container {}

.hero-img-container {}

.hero-img {
  width: 500px;
}

.hero-h1 {
  color: var(--white);
  font-weight: 700;
  font-size: 40px;
}
.btn-hero{background-color: var(--yellow);border: none;border-radius: 20px;padding: 6px;
padding-left: 12px;padding-right: 12px;margin-bottom: 5px;color: black;font-family: roboto;}
.btn-hero2{background-color: rgba(0, 0, 0, 0);border: none;border-radius: 20px;padding: 6px;
padding-left: 18px;padding-right: 18px;border:solid black 1px;color:black;
font-family: roboto;}
.btn-hero2:hover{background-color: black;color: white;}
/*hero */



/* article1 */

.article1-container{display: flex;padding: 100px;}
.article1-left{}
.article1-right{display: flex;align-items: center;justify-content: center;column-gap: 50px;flex-grow: 1;}
.article1-h1{font-size: 45px;}

.card-img1{width: 250px;}
.card-p{text-align: center;font-weight: 700;}
.article1-p{width: 200px;font-family: roboto;}
/* article1 */

@media screen and (width<1300px) {
  .hero-container{column-gap: 0px;}
  .article1-container{column-gap: 10px;padding-left:10px;padding-right: 10px;}
.article1-left{}
.article1-right{display: flex;align-items: center;justify-content: center;column-gap: 10px;flex-grow: 1;}
.article1-h1{font-size:18px;}

.card-img1{width: 180px;}
.card-p{text-align: center;font-weight: 700;}
.article1-p{width: 200px;font-family: roboto;}


}
@media screen and (height<500px) {
  .article1-container{padding: 10px;}
 

}


@media screen and (width<800px) {
 .hero-container{column-gap: 0px;}
  .article1-container{column-gap: 12px;padding-left:10px;padding-right: 10px;}
.article1-left{}
.article1-right{display: flex;align-items: center;justify-content: center;column-gap: 10px;flex-grow: 1;}
.article1-h1{font-size:14px;}

.card-img1{width: 90px;}
.card-p{text-align: center;font-weight: 700;font-size: 12px;}
.article1-p{width: 120px;font-family: roboto;font-size: 12px;}




}

@media screen and (width<500px) {
  .hero-container{column-gap: 0px;}
  .article1-container{column-gap: 8px;padding-top:30px;padding-left:10px;padding-right: 10px;}
.article1-left{}
.article1-right{display: flex;align-items: center;justify-content: center;column-gap: 10px;flex-grow: 1;}
.article1-h1{font-size:14px;}

.card-img1{width: 65px;}
.card-p{text-align: center;font-weight: 700;font-size: 12px;width: 60px;}
.article1-p{width: 120px;font-family: roboto;font-size: 12px;}
.btn-hero{background-color: var(--yellow);border: none;border-radius: 20px;padding: 6px;
padding-left: 12px;padding-right: 12px;font-size: 11px;}
.btn-hero2{background-color: rgba(0, 0, 0, 0);border: none;border-radius: 20px;padding: 6px;
padding-left: 12px;padding-right: 12px;border:solid black 1px;font-size: 11px;}

.hero-h1{font-size:10px;}

}
@media screen and (width<950px) {
  .hero-img {width: 350px; }

  .hero-h1 {font-size: 25px;}


}

@media screen and (width<650px) {
  .hero-img {  width: 240px;}

  .hero-h1 {color: var(--white);font-weight: 700;font-size: 12px;}
  .a-tag {  font-size: 11px;}

}