:root{
--green:#35736E;
--yellow:#FFD748;
--gray:#CACACA;
--white:#EFF2F1;
;
}
*{font-family: roboto;margin: 0px;padding: 0px;box-sizing: 0px;}
h1{font-family: poppins;}
p{font-family: roboto;}
a{text-decoration: none;font-family: roboto;color: var(--white);}

/* header */
header{display: flex;flex-direction: column;width: 100vw;background-color: var(--green);}
nav{display: flex;align-items: center;justify-content: space-between;padding: 10px;flex-wrap: wrap;}

div a {text-decoration: none;font-family: roboto;color: var(--white);font-weight: 400;}
div a:hover{text-decoration: underline var(--yellow) ;}
.logo{color: var(--yellow);font-weight: 700;font-size: 30px;}
.logo-div{display: flex;align-items: center;}
.a-div{display: flex;align-items: center;flex-wrap: wrap;}

.pic-header{display: flex;align-items: center;justify-content: space-between;}


.hero-img1{width: 40rem;}
.hero-h1{color:var(--white);font-size: 40px;line-height: 80px;margin-top: 50px;}
@media screen and (width<1110px) {
 
  .hero-img1{width: 30rem;}
  .hero-h1{color:var(--white);font-size: 30px;line-height: 80px;}
  
}
@media screen and (width<850px) {
 
  .hero-img1{width: 14rem;}
  .hero-h1{color:var(--white);font-size: 16px;line-height: 30px;margin-top: 20px;}
 .a-tag{font-size: 14px;}
}